;.total
{
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  outline: 1px solid black; 
  overflow: auto;
}
.btn
{
  width: 100%;
  margin-bottom: 10px;
}
.historial{
 width: 900px;
 height: 150px;
 border: 2px solid black;
 margin: 0 auto;
}